[user]
  email = kelvin.stinghen@gmail.com
  name = kelvinst
[alias]
  co = checkout
  lg = log --all --graph --decorate --oneline --abbrev-commit
  cm = commit
  ac = !git add -A && git commit
  aca = !git add -A && git commit --amend
  ace = !git add -A && git commit --allow-empty
  r = !git pull --commit && git push
  s = status -s
  st = status -sb
  tags = tag -l
  branches = branch -a
  remotes = remote -v
  d = diff
  dt = difftool
  pro = pull-request -o
[push]
  default = simple
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[core]
  editor = vim
  excludesfile = ~/.global_gitignore
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[difftool]
  prompt = false
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[gitsh]
  gitCommand = hub
  defaultCommand = s
[pull]
  rebase = false
