[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule ".tmux/tpm"]
	path = .tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
